@model Admin.Models.Cursu

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cursu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CursusNaam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CursusNaam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CursusInfo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CursusInfo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CursusId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
